@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/Nunito-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/Nunito-SemiBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/Nunito-ExtraBold.ttf') format('ttf');
}