// Dark Mode
$db-element : hsl(209, 23%, 22%);
$vdb-bg: hsl(207, 26%, 17%);

// Light Mode
$vdb-text: hsl(200, 15%, 8%);
$dg-input: hsl(0, 0%, 52%);
$vlg-bg: hsl(0, 0%, 98%);
$vlg-text-el: hsl(0, 0%, 100%);

// Fonts
$opensans : 'Open Sans', sans-serif;